@model IEnumerable<ThAmCo.Events.Models.GuestBooking>

@{
    ViewData["Title"] = "View";
}

<h1>Guests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestId)
            </td>
        </tr>
}
    </tbody>
</table>
